#gif-heads {
  background-image: url('../img/gifs/heads.gif');
}

#gif-growth {
  background-image: url('../img/gifs/growth.gif');
}

#gif-x-ray {
  background-image: url('../img/gifs/x-ray.gif');
}

#gif-morph {
  background-image: url('../img/gifs/morph.gif');
}

#gif-x-ray-2 {
  background-image: url('../img/gifs/x-ray-2.gif');
}

#gif-x-ray-3 {
  background-image: url('../img/gifs/x-ray-3.gif');
}

#gif-rainbow-drip {
  background-image: url('../img/gifs/rainbow-drip.gif');
}

#gif-train {
  background-image: url('../img/gifs/train.gif');
}

#gif-orb {
  background-image: url('../img/gifs/orb.gif');
}

#gif-crowd {
  background-image: url('../img/gifs/crowd.gif');
}

#gif-fly {
  background-image: url('../img/gifs/fly.gif');
}
